<!DOCTYPE html>
<html>

<head>
<style>
html {
	font-family: arial, sans-serif;
	font-size: 11px;
}

@page {
	size: A4;
	margin: 5mm 8mm 5mm 8mm;
}

th {
	font-weight: normal;
}

.table {
	width: 100%;
	table-layout: fixed;
}

table caption {
	background-color: #dcdcdc;
	border: 1px solid black;
	padding: 5px;
}

.table-resume tr {
	text-align: center;
}

.border {
	border: black thin solid;
}

.font-bold {
	font-weight: bold;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.vertical-align-top {
	vertical-align: top
}
</style>
</head>

<body>
	<!--Inicio div principal -->
	<div style="width: 100%">

		<!-- inicio div header    -->

		<div style="width: 97%; margin: 0 auto;">
			<table class="table">
				<tr>
					<td class="border" style="width: 55%;">
						<div id="logo" class="media" data-base64="$logo"
							style="width: 177px; height: 70px; margin: 0 auto;" />
					</td>
					<td width="10px"></td>
					<td class="border" style="width: 45%;">
						<table>
							<tr>
								<td colspan="2" class="font-bold align-center"
									style="font-size: 15px;">BANCO PAN S/A</td>
							</tr>
							<tr>
								<td class="font-bold">CNPJ:</td>
								<td>$cnpj</td>
							</tr>
							<tr>
								<td class="font-bold vertical-align-top">Endereço:</td>
								<td>$endereco-banco</td>
							</tr>
							<tr>
								<td class="font-bold">Ouvidoria:</td>
								<td>$ouvidoria</td>
							</tr>
							<tr>
								<td class="font-bold">Email:</td>
								<td>$email</td>
							</tr>
						</table>
					</td>
				</tr>

			</table>
		</div>

		<div style="width: 100%; margin-top: 2%;">
			<table class="table">
				<caption>POSIÇÃO DE INVESTIMENTO EM: $data</caption>

				<tr>
					<td width="60%">
						<table style="width: 100%; border-spacing: 0;">
							<tr>
								<td style="width: 0;">Cliente:</td>
								<td class="align-left" style="padding-left: 5px">$nome</td>
							</tr>
						</table>
					</td>
					<td width="40%">CPF: $cpf</td>
				</tr>
				<tr>
					<td width="60%">
						<table style="width: 100%; border-spacing: 0;">
							<tr>
								<td style="width: 0;">Endereço:</td>
								<td class="align-left" style="padding-left: 5px">$endereco-cliente</td>
							</tr>
						</table>
					</td>
					<td>
						<table style="border-spacing: 0;">
							<tr>
								<td style="width: 50%">
									<table style="width: 100%; border-spacing: 0;">
										<tr>
											<td style="width: 0;">Agência:</td>
											<td class="align-left" style="padding-left: 5px">$agencia</td>
										</tr>
									</table>
								</td>
								<td width="15px"></td>
								<td>
									<table style="width: 100%; border-spacing: 0;">
										<tr>
											<td style="width: 20px; white-space: nowrap;">C/C:</td>
											<td class="align-left" style="padding-left: 5px">$conta</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td width="60%">
						<table style="width: 100%; border-spacing: 0;">
							<tr>
								<td style="width: 100px">CEP: $cep</td>
								<td style="width: 170px">
									<table style="width: 100%; border-spacing: 0;">
										<tr>
											<td style="width: 0;">Cidade:</td>
											<td class="align-left" style="padding-left: 5px">$cidade</td>
										</tr>
									</table>
								</td>
								<td>
									<table style="width: 100%; border-spacing: 0;">
										<tr>
											<td style="width: 0;">Bairro:</td>
											<td class="align-left" style="padding-left: 5px">$bairro</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>

					</td>
					<td>Telefone: $telefone</td>

				</tr>
			</table>
		</div>

		<div style="width: 100%; margin-top: 2%;">
			<table class="table">
				<caption>OPERAÇÕES DE RENDA FIXA (Over Ano)</caption>
				<tr style="border-bottom: 1px solid black; font-size: 9px;"
					class="align-center">
					<th>Papel</th>
					<th>Nota</th>
					<th style="white-space: nowrap;">Indexador/Taxa</th>
					<th>Emissão</th>
					<th>Vencimento</th>
					<th>Valor Aplicado</th>
					<th>Saldo Bruto</th>
					<th>IR</th>
					<th>IOF</th>
					<th>Saldo Líquido</th>
					<th>Liquidez</th>
				</tr>
				<tr style="font-size: 10px;">
					<td class="align-center">GUARDAR DINHEIRO</td>
					<td class="align-center">1040166</td>
					<td class="align-center">103,00% CDI / 0,00</td>
					<td class="align-center">17/05/2021</td>
					<td class="align-center">17/05/2021</td>
					<td class="align-center">35.000,00</td>
					<td class="align-center">37.635,85</td>
					<td class="align-center">31,95</td>
					<td class="align-center">31,95</td>
					<td class="align-center">37.635,85</td>
					<td class="align-center">25/01/2024</td>
				</tr>
			</table>
		</div>

		<div style="width: 100%; margin-top: 2%;">
			<table class="table table-resume">
				<caption>RESUMO GERAL</caption>

				<tr>
					<td class="font-bold align-right">Total Aplicado</td>
					<td class="align-left">$total-aplicado</td>
				</tr>
				<tr>
					<td class="font-bold align-right">Saldo Atual Bruto</td>
					<td class="align-left">$saldo-atual-bruto</td>
				</tr>
				<tr>
					<td class="font-bold align-right">IRRF/IOF acumulado até a
						data</td>
					<td class="align-left">$iof-atual</td>
				</tr>
				<tr>
					<td class="font-bold align-right">Saldo Atual Liquido</td>
					<td class="align-left">$saldo-atual-liquido</td>
				</tr>
				<tr>
					<td class="font-bold align-right">Saldo Bloqueado
						Judicialmente</td>
					<td class="align-left">$saldo-bloq-jud</td>
				</tr>
				<tr>
					<td class="font-bold align-right">Saldo Bloqueado-outros</td>
					<td class="align-left">$saldo-bloq-out</td>
				</tr>
				<tr>
					<td class="font-bold align-right">Saldo Bruto disponivel</td>
					<td class="align-left">$saldo-bruto-disponivel</td>
				</tr>
			</table>
		</div>

		<!-- fim div principal   -->
	</div>
</body>

</html>